<!-- Search -->
<app-poke-search (emmitSearch)="getSearch($event)"></app-poke-search>

<section class="lists">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <a [routerLink]="['details', pokemon.detail.id]" class="pokemon" *ngIf="pokemon.detail">
      <section class="pokemon__status">
        <h2>
          {{pokemon.name}}
          {{pokemon.detail.id}}
        </h2>

        <ul>
          <li *ngFor="let data of pokemon.detail.types">
            {{ data.type.name }}
          </li>
        </ul>
      </section>
      <section class="pokemon__image">
        <img [src]="pokemon.detail.sprites.other.dream_world.front_default" [alt]="pokemon.name">
      </section>
    </a>
  </ng-template>


</section>
<div id="paginate">
  <div class="controls btn__secondary">
    <!-- <div class="first">&#171;</div> -->
    <div class="first">
      <a appPagination (click)="appPagination.onFirst()">first</a>
    </div>
    <div class="prev">
      <a appPagination (click)="appPagination.onPrevius()">prev</a>
    </div>
    <div class="numbers">
      <input #appPagination="appPagination" appPagination type="number" min="1" max="5" value="1" [totalPages]="5"
        (onChangeEventEmitter)="onPageChange($event)" />
    </div>
    <div class="next">
      <a appPagination (click)="appPagination.onNext()">next</a>
    </div>
    <!-- <div class="last">&#187;</div> -->
    <div class="last">
      <a appPagination (click)="appPagination.onLast()">last</a>
    </div>
  </div>
</div>
